html,
body{
	height:100%;
	width:100%;
	background-color:#000; 
	font-family:arial,verdana,sans-serif;
	color:#eee;
	margin:0;
	padding:0;
	position:relative;
}

/*head{display:block;}*/
/*title{display:block; height:45px; padding:0px 2em; background-color:#fc0; margin:0 auto; font-size:32px; font-weight:bold; color:#333;}*/

body{overflow:hidden;}

#wall {
  display:block;
  position:relative;
  /*background-color:pink;*/
/*  height:500px;
  width:500px;
*/
/*  height:1000px;
  width:1000px;*/
  height:100%;
  width:100%;
  
  margin:0;
  padding:0;
  list-style:none;

  margin:0 auto;
}
.light{
/*  display:block;*/
  position:relative;
  height:46px;
  width:46px;
  border:2px solid #000;
/*  background-color:#101016;*/
  border-radius:4px;
  float:left;
  transition: all 1.5s;
  -moz-transition: all 1.5s; /* Firefox 4 */
  -webkit-transition: all 1.5s; /* Safari and Chrome */
}

.off{
  background-color:#101016;
}

.on{
  background-color:#fff;
/*  background-color:#0D95F9;*/
}

#wall.round .light{
  border-width:5px;
  border-radius:100px;
}

#wall.rings .light{
  border-width:3px;
  margin:0 -12px -12px 0;
  border-radius:100px;
  background-color: transparent;
  height:50px;
  width:50px;
}

#wall.rings .off {
    background-color: transparent;
    border-color:#333355;
}

#wall.rings .on {
    background-color: transparent;
    border-color: #CC77FF;
    z-index: 1;
}

#pct,
#dimmer {
  display:block;
  position:absolute;
  z-index:1;
  top:20px;
  left:20px;
  margin:0;
  font-size:200px;
  font-family:helvetica;
  width:1.7em;
  padding-right:0.1em;
  background-color:#000;
  color:#fff;
  text-shadow:0 0 8px #101016;
  -moz-text-shadow:0 0 8px #101016;
  -webkit-text-shadow:0 0 8px #101016;
  text-align:right;
  opacity:0.7;
  transition: opacity 1.5s;
  -moz-transition: opacity 1.5s; /* Firefox 4 */
  -webkit-transition: opacity 1.5s; /* Safari and Chrome */
  border-radius:8px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  box-shadow:0 0 25px 1px rgba(255,255,255,0.4);
  -moz-box-shadow:0 0 25px 1px rgba(255,255,255,0.4);
  -webkit-box-shadow:0 0 25px 1px rgba(255,255,255,0.4);
}



